/* general */
body{
    font-family:Roboto,sans-serif;

}

a{
    color: white;
    text-decoration: none;
}

ul{
  list-style-type: none;
  padding: 0 24px;
  margin: 0;
  display:flex;
  gap:24px;
  align-items:center;
}

.container-main{
    display:flex;
    flex-direction:column;
    flex:1;

}


/* header/hero */
.container-one{
    background-color:#1F2937;
    color:white;
}

.navbar{
    display:flex;
    justify-content: space-between;
}

.navbar h1{
    font-size:24px;
    padding-left: 24px;
}

.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin: 3rem 0 6rem;
}

.hero h1{
    font-size:48px;
    font-weight:bold;
    color:#F9FAF8;
    margin:1rem 0;
}

.hero img{
    width:400px;
    height:auto;
}

.hero-text{
    font-size:18px;
    color:#E5E7EB;
    padding:0;
    margin:0;
}

.hero-left{
    display:flex;
    flex-direction: column;
    flex-basis:400px;
}

.signup1{
    width:6rem;
    margin-top:1rem;
    padding:5px;
    font-weight: bold;
    color:white;
    background-color:#3882F6;
    border-color:#3882F6;
    border-radius:.5rem;
}

/* information */
.info-head{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    margin:3rem;
    text-align: center;
}

.container-two{
    background-color:white;
    color:#1F2937;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.info-text{
    text-align: center;
    width:200px;
}

.info{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    gap:48px;
    margin-bottom:6rem;
}

.info img{
    width:200px;
    height: auto;
}

/* quote */
.container-three{
    background-color:#E5E7EB;
    color:#1F2937;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.quote{
    font-size: 36px;
    font-style:italic;
    color:#1F2937;
    width: 800px;
    margin-top:10rem;
}

.thor{
    font-size:24px;
    font-weight: bold;
    margin-bottom:10rem;
    text-align:right;
}

/* call to action */

.container-four{
    display:flex;
    justify-content: center;
    align-items: center;
}

.cta-box{
    background-color:#3882F6;
    margin:6rem;
    padding:3rem;
    width:800px;
    border-radius: 10px;;
    display:flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.cta-textcontainer{
    display:flex;
    flex-direction: column;
}

.cta-header{
    color:#F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

.cta-text{
    color:#F9FAF8;
}

.signup2{
    font-weight: bold;
    padding:5px;
    width:8rem;
    color:white;
    background-color:#3882F6;
    border-color:#F9FAF8;
    border-radius:5px;
    font-weight: bold;
}

